<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">DTT</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link active" routerLink="/">inicio</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/login">Iniciar sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page landing-page">
    <section class="clean-block clean-hero" style="background: url(&quot;/assets/img/fiusac03.jpg?h=51f27661f5fb009c8bdd37d0999ac681&quot;) bottom / auto no-repeat;color: rgba(81,146,194,0.85);">
        <div class="text">
            <h2>Bienvenido al sitio del DTT ECYS</h2>
            <p>Desarrollo de transferencia tecnológica DTT de la escuela de Ciencias y Sistemas de la Universidad de San Carlos de Guatemala</p>
            <button class="btn btn-outline-light btn-lg" type="button" (click)="ingresar()">Iniciar sesión</button>
        </div>
    </section>
    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Visión</h2>
                <p style="border-style: none;">El estudiante de la Facultad de Ingeniería de la Universidad de San Carlos de Guatemala será reconocido como un profesional superior, en base al conocimiento incorporado en el currículo de estudios para capacitar a los estudiantes de manera integral, dándoles las herramientas adecuadas para su desarrollo profesional.<br></p>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail" src="/assets/img/scenery/fiusac01.jpg?h=959e1782736dfc601b4fc8b09bd40706"></div>
                <div class="col-md-6">
                    <h3>Misión</h3>
                    <div class="getting-started-info">
                        <p>Desarrollar en el alumno las competencias que garantizan el éxito en la construcción del conocimiento a través de los diferentes estilos de aprendizaje y fomentar la investigación permanente para permitir una mejor calidad de vida a la comunidad. Teniendo en cuenta las opciones del mercado actual en el país (logística, administración, tecnología de la información, finanzas, contabilidad, comercio, etc.), y también el mercado internacional, hacen una gran demanda global y competitividad en la actualidad.<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Objetivos generales</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-graduation icon"></i>
                    <p>Proporcionar capacitación adecuada para que el profesional pueda ayudar al desarrollo de Guatemala, a través de la aplicación de experiencia funcional en las áreas de informática y sistemas.<br></p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-notebook icon"></i>
                    <p>Construya una cultura de cambio y adaptación que permita al graduado autoeducarse de manera permanente.&nbsp;<br></p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-screen-desktop icon"></i>
                    <p>Proporcione a los estudiantes el conocimiento y las habilidades necesarias para interactuar de manera efectiva con todos los miembros de la organización, fomentando el uso de tecnología, sistemas de aplicación y herramientas que promuevan procesos de mejora interna.<br></p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-briefcase icon"></i>
                    <p>Actualice el plan de estudios que incluye los últimos desarrollos en cada una de las diferentes tecnologías relacionadas con los campos de acción de la informática y la tecnología de la información, así como la aplicación de las técnicas de ingeniería de sistemas.<br></p>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block slider dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Conocimiento</h2>
                <p>Los conocimientos generales son donde se consideran las ciencias académicas generales, las relaciones interpersonales y el idioma inglés. Los conocimientos específicos son las ciencias relacionadas con su especialidad, que abarca la informática, la metodología de sistemas y el desarrollo de sistemas de información.<br></p>
            </div>
            <div class="carousel slide" data-ride="carousel" id="carousel-1">
                <div class="carousel-inner">
                    <div class="carousel-item active"><img class="w-100 d-block" src="/assets/img/scenery/3015563.jpg?h=569c9da519fc3136b761494575a23af7" alt="Slide Image"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Habilidades</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/assets/img/avatars/Problema.jpg?h=f67a8af880fc03848487da33ad6160a6">
                        <div class="card-body info">
                            <h4 class="card-title">Resolución de problemas<br></h4>
                            <p class="card-text">Visión holística de los problemas considerando todos los elementos involucrados<br></p>
                            <div class="icons"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/assets/img/avatars/Generalizacion.jpg?h=4ce888fb92edbf8380cee945f1e81900">
                        <div class="card-body info">
                            <h4 class="card-title">Generalización<br></h4>
                            <p class="card-text">Capacidad de generalizar soluciones y aprender de su experiencia<br><br></p>
                            <div class="icons"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/assets/img/avatars/Relaciones.jpg?h=fa47b68d076e32e135a4a60a85219ae8">
                        <div class="card-body info">
                            <h4 class="card-title">Relaciones interpersonales<br></h4>
                            <p class="card-text">Trabajo en equipo, presentar un proyecto con claridad, precisión, y trabajar bajo presión<br></p>
                            <div class="icons"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/assets/img/avatars/Decision.jpg?h=615ce64fd7104927e3a10d709dd1320b">
                        <div class="card-body info">
                            <h4 class="card-title">Gestión de recursos<br></h4>
                            <p class="card-text">Consenso de acciones para llevar acabo un proceso racional de toma de decisiones<br></p>
                            <div class="icons"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/assets/img/avatars/Abstraccion.jpg?h=6584781e8fd4f00cf823343982c11f06">
                        <div class="card-body info">
                            <h4 class="card-title">Abstracción<br></h4>
                            <p class="card-text">Capacidad de modelar e interpretar variables abstractas<br><br></p>
                            <div class="icons"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/assets/img/avatars/Autoaprendizaje.jpg?h=dc9dde84a271979c79a1ce3ef3584a34">
                        <div class="card-body info">
                            <h4 class="card-title">Autoaprendizaje<br></h4>
                            <p class="card-text">Saber qué buscar, cómo buscar, dónde buscar, cómo buscar y cuándo debe haber aprendizaje<br></p>
                            <div class="icons"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- Start: Footer Dark -->
<footer class="page-footer dark" style="color: rgb(33,37,41);background: rgb(34,36,37);">
    <div class="footer-copyright" style="color: rgb(33, 37, 41);">
        <p>© 2021 DTT ECYS</p>
    </div>
</footer><!-- End: Footer Dark -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/assets/js/script.min.js?h=01b328a5753bdfc81655b662cb370c91"></script>